<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Library App</title>
</head>
<body>

<!-- nav -->


<!-- body -->
{% block content %}
{% endblock %}


<!-- footer -->
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2023 Company, Inc</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">


        <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>

        <li class="fs-2 ms-3"><a class="text-body-secondary" href="mailto:t4mendez@gmail.com" target="_blank" rel="noopener noreferrer"><i class="bi bi-envelope-at"></i></a></li>

        <li class="fs-2 ms-3"><a class="text-body-secondary" href="https://www.linkedin.com/in/casmdz/" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a></li>
<!-- class="fs-2 mb-3" style="font-size:48px;"-->
        <li class="fs-2 ms-3"><a class="text-body-secondary" href="https://github.com/casmdz" target="_blank" rel="noopener noreferrer"><i class="bi bi-github"></i></a></li>
        
      </ul>
    </footer>



<!-- end -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>

</body>
</html>